node_modules
.DS_Store
.env
dist
coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log
pids
*.pid
*.pid.lock
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*.bak
*.tmp
*.temp
*.orig
*.rej
*.patch
*.diff